<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <div id="meuNome">
            <h1>Patrick<span>Dev.</span></h1>
        </div>

        <nav>
            <ul id="menu">
                <a href="#sobre"><li>Sobre Mim</li></a>
                <a href="#pqTrab"><li> Trabalhe comigo</li></a>
                <a href="#contatos"><li>Contatos</li></a>
            </ul>
        </nav>
    </header>

    <main>
        <section id="sobre">
            <h2>Minha História:</h2>
        
            <h3>Onde tudo começou..</h3>

            <div id="texto"><strong>Olá, Mundo ! Me chamo Patrick Candido, 23 anos.</strong> <br><br> Bom, minha história na programação teve início em Abril de 2022. Eu não sabia muito bem do que se tratava, mas eu tinha certeza de que queria construir algo relevante como os grandes nomes da história da tecnologia. <br><br>
            Esse mês foi muito marcante pra mim, pois foi uma época difícil onde fiquei desempregado, ao mesmo tempo, houve uma grande enchente na minha cidade, Nova Iguaçu- Rj, onde a minha família e várias outras perderam tudo que tinham dentro de casa. <br><br>
            E, a partir deste momento eu entendi que estava nas minhas mãos o sustento e o bem-estar da minha familia e que só dependia de quão determinado eu fosse. 
            Desde então, eu tenho aprendido à cada dia mais e mais sobre o mundo da programação, seus recursos, frameworks e muito mais..
            </div>        
        </section>

        <section id="pqTrab">
            <h2>Por quê trabalhar comigo ?</h2>

            <h3>Competências & Soft Skills:</h3>

            <div id="texto2"><strong>Hard Skills:</strong> <br>
             Sou desenvolvedor Front-End ! <br> Comecei estudando a famosa tríade básica: (HTML, CSS e JS). Hoje eu estudo mais profundamente e desenvolvo com React JS em projetos pessoais que você verá no meu portfólio. <br><br>
             <strong>Soft Skills:</strong><br>
             Nos últimos 4 anos eu estive trabalhando numa fábrica. Mais especificamente, numa linha de produção de produtos de limpeza, onde desenvolvi algumas habilidades, como: <strong>Disciplina</strong>, <strong>Trabalho em equipe</strong> e <strong>Resolução de problemas</strong>. <br>
             Este tempo na empresa foi essencial para minha evolução, não só para um profissional mais capaz, mas para um cidadão com visão mais ampla das coisas que permeiam a vida profissional. <br><br>
             <strong>Em Resumo..</strong><br>
             Considero meu perfil relevante para um Desenvolvedor Jr. que procura a sua primeira oportunidade para ingressar no mercado de trabalho, pois consigo entregar à empresa a <strong>ambição</strong> de um Dev. que deseja ser melhor à cada dia, somada com a <strong>experiência</strong> de alguém que sabe trabalhar com prazos, sob liderança e em equipe.

            </div>

        </section>

        <section id="contatos">
            <h2>Meus contatos:</h2>

            <h3> Você pode acessar meu portfólio e me conhecer melhor pelas minhas redes.</h3>

            <ul id="redesSociais">
                <a target="_blank" href="https://github.com/candtrick">
                    <li><img src="media/github.png" alt="githut-link"> /candtrick</li>
                </a><br>

                <a target="_blank" href="https://www.linkedin.com/in/patrick-candido-a342b9217">
                    <li><img src="media/linkedin.png" alt="linkedin-link"> Patrick Candido</li><br>
                </a>

                <a target="_blank" href="https://api.whatsapp.com/send?phone=5521981475633">
                    <li><img src="media/whatsapp.png" alt="whatsapp-link"> +55 (21) 98147-5633</li><br>
                </a>

                <a target="_blank" href="https://www.instagram.com/candtrick/">
                    <li><img src="media/instagram.png" alt="instagram-link"> /candtrick</li>
                </a>
            </ul> 

            <button id="voltar" href="#"> <img id="seta" src="media/93634.png" alt="back-button"> Voltar para o Portfólio.</button>
        </section>

        <footer>
            <ul>
                <li><a href="">Tabuada</a></li>
                <li>Calculadora</li>
                <li>Black Lives Matter</li>
                <li>Portfólio Completo</li>
            </ul>
        </footer>
    </main>

    
</body>
</html>